sm.x
main_example.x
msugra.x
cmssm.x
amsb.x
hcamsb.x
mmamsb.x
gmsb.x
nuhm.x
thdm.x
slha.x
flha.x
cnmssm.x
ngmsb.x
nnuhm.x

src/FlagsForMake
src/isajet.h
src/libisospin.a
src/softsusy.h
src/2hdmc.h
src/hdecay.h
src/higgsbounds.h
src/spheno.h
src/suspect.h
src/nmssmtools.h
